body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Header */
header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

/* Nav */
nav {
    margin: 10px 0;
    background-color: #e0e0e0;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline;
}

/* Main Form */
.form-section {
    max-width: 500px;
    margin: 20px auto;
}

.form-section h2 {
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* error */
.error , .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 2px;
    display: block;
    font-style: italic;
}

/* Submit button */
button[type="submit"] {
    margin-top: 15px;
    padding: 8px 12px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

/* iframes */
iframe {
    width: 100%;
    display: block;
    border: 1px solid #000000;
    margin: 10px;
    min-height: 40rem;
    height: auto;
}

/* Donation Table */
#donationTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#donationTable th,
#donationTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#donationTable th {
    background-color: #e0e0e0;
    font-weight: bold;
}

.delete-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #920000;
}

#noDonationsMessage {
    font-style: italic;
    text-align: center; 
    color: #777777c4;
}

/* Total Donations */
.total-donations {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
}

.total-donations p {
    font-size: 1rem;
    margin: 0;
}

#totalAmount {
    font-weight: bold;
    color: #2c5f2d;
    font-size: 1.5rem;
}
